<section
  id="index-section"
  class="min-h-screen flex justify-center items-center"
>
  <div class="">
    <span class="font-mono text-sky-600 dark:text-sky-400 md:text-base text-sm">
      Hi, my name is
    </span>
    <h1
      class="font-extrabold text-sky-800 dark:text-sky-50 md:text-7xl text-4xl"
    >
      Daniel Weiß
    </h1>
    <p class="text-sky-400 dark:text-sky-200 md:text-5xl text-2xl">
      I'm a
      <span [wdTyping]="thisIsMe"></span>
      <span class="animate-ping">_</span>
      from Germany.
    </p>
  </div>
</section>
