<ol class="relative border-l border-gray-200 dark:border-gray-400">
  <li
    class="ml-8"
    [ngClass]="{ 'mb-10': !last }"
    *ngFor="let cv of cvList; let last = last"
  >
    <span
      class="absolute flex items-center justify-center w-6 h-6 text-sky-100 bg-sky-800 ring-sky-200 rounded-full -left-3 ring-8 dark:bg-sky-900"
    >
      <fa-icon [icon]="icons.faBriefcase" class="text-xs"></fa-icon>
    </span>
    <h3
      class="flex items-center mb-1 text-lg font-semibold text-sky-800 dark:text-sky-50"
    >
      {{ cv.companyName }}
    </h3>
    <span
      class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
    >
      from
      <time [attr.datetime]="cv.from">{{ cv.from | date : 'y' }}</time>
      to
      <span *ngIf="cv.isCurrent">today</span>
      <span *ngIf="!cv.isCurrent">
        <time [attr.datetime]="cv.to">{{ cv.to | date : 'y' }}</time>
      </span>
    </span>
    <wd-cv-position [positions]="cv.positions"></wd-cv-position>
  </li>
</ol>
