<ul class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
  <li
    class="mb-2 relative"
    [ngClass]="{ 'mb-0': !last }"
    *ngFor="let position of positions; let last = last"
  >
    <fa-icon
      [icon]="icons.faCircle"
      class="absolute -left-9 top-2 text-[7px]"
    ></fa-icon>
    {{ position.name }}<br />
    <small class="text-gray-400 dark:text-gray-500">
      (
      <wd-cv-date
        [from]="position.from"
        [to]="position.to"
        [isCurrent]="!!position.isCurrent"
        dateFormat="MMMM y"
      />
      )
    </small>
  </li>
</ul>
